body {
    background-color: rgb(10, 141, 10);
}

h1 {
    color: rgb(247, 40, 3);
    text-align: center;
}

h2 {
    color: rgb(76, 76, 177);
    text-align: center;
}

p {
    text-align: center;
}

form {
    text-align: center;
}

label {
    display: block;
    margin: 10px 0 5px 0;
}

input, textarea {
    display: block;
    margin: 0 auto 10px auto;
}

    button {
        background-color: rgb(230, 16, 9);
        color: white;
    }
    header {
        
        color: rgb(172, 7, 7);
    }
    main {
        background-color: rgb(165, 157, 157);
        margin: 0px;
        padding: 10px;    
    }
   li {
        display: inline-block;
        margin-right: 30px;
    }

nav  {
    background-color:yellow;
    padding: 10px;
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}
nav a:hover {
    background-color: rgb(2, 138, 2);
    color: black;
    
}
header {
    background-color:rgb(245, 245, 245);
    padding: 10px;
    text-align: center;

}
.about {
    color : rgb(14, 160, 58);
}